
<header class="ui-header ui-header-positive ui-border-b">
    <h1>我的报销</h1>
    <input type="button" class="ui-btn" onclick="location='$petstoreLoginLink'" value="退出"/>
</header>

<section class="ui-container">

    <section>
        <div class="demo-item">
            <div class="demo-block">
                <div class="ui-form ui-border-t">
                    <form action="$lopStMemberModule.setTarget("requistting")" method="post">
                        $csrfToken.hiddenField
                        <input type="hidden" name="action" value="RequisttingAction"/>

                        #set ($group = $form.leader.defaultInstance)
                        $group.mapTo($leader)
                        <input type="hidden" name="$group.orderId.key" value="$!group.orderId.value"/>
                        <input type="hidden" name="$group.leaderName.key" value="$!group.leaderName.value"/>
                        <input type="hidden" name="$group.name.key" value="$!group.name.value"/>

                    #if ($dateError == 1)
                    <div class="ui-form-item ui-border-b">
                        <label class="errorMessage" style="width:100%;color:red">当日（$order.orderDate）的报销只能提交一次</label>
                    </div>
                    #elseif ($dateError == 2)
                    <div class="ui-form-item ui-border-b">
                        <label class="errorMessage" style="width:100%;color:red">当日的报销总额超过80，请核对后再提交</label>
                    </div>
                    #else

                        <div class="ui-form-item ui-border-b">
                            <label>日期：</label>
                            <input type="text" readonly="readonly" value="$!order.orderDate"/>
                        </div>
                        <div class="ui-form-item ui-border-b">
                            <label>早餐：</label>
                            <input type="text" readonly="readonly" value="$!order.breakfast"/>
                        </div>
                        <div class="ui-form-item ui-border-b">
                            <label>午餐：</label>
                            <input type="text" readonly="readonly" value="$!order.lunch"/>
                        </div>
                        <div class="ui-form-item ui-border-b">
                            <label>晚餐：</label>
                            <input type="text" readonly="readonly" value="$!order.dinner"/>
                        </div>
                        <div class="ui-form-item ui-border-b">
                            <label>饮料：</label>
                            <input type="text" readonly="readonly" value="$!order.drink"/>
                        </div>
                        <div class="ui-form-item ui-border-b">
                            <label>交通：</label>
                            <input type="text" readonly="readonly" value="$!order.carfare"/>
                        </div>
                        <div class="ui-form-item ui-border-b">
                            <label>其他：</label>
                            <input type="text" readonly="readonly" value="$!order.other"/>
                        </div>
                        <div class="ui-form-item ui-border-b">
                            <label>合计：</label>
                            <input type="text" readonly="readonly" value="$!order.subprice"/>
                        </div>
                        <div class="ui-form-item ui-form-item-textarea ui-border-b">
                            <label>备注：</label>
                            <textarea readonly="readonly">$!order.commonts</textarea>
                        </div>
                    #end
                    	<div class="ui-btn-wrap" align="center">
                        #if ($dateError > 0)
	                    #else
	                        <input type="submit" name="event_submit_do_update" value="确认" class="ui-btn-lg ui-btn-primary apply-submit"/>
	                    #end
	                        <input type="button" value="返回再编辑" class="ui-btn-lg ui-btn-primary apply-submit" style="margin-top: 12px;" onclick="location='$lopStMemberModule.setTarget("requisition").addQueryData("orderId", $order.orderId)'"/>
                       
                        </div>	
                        <div class="ui-form-item ui-border-b">
                            <label>                             
                            </label>                            
                        </div>	                    
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
<footer class="ui-footer ui-footer-btn">
    <ul class="ui-tiled ui-border-t">
        <li class="ui-border-r"><div class="ui-reddot"><input class="ui-btn" type="button" onclick="location='$lopStMemberModule.setTarget("requisition").addQueryData("orderId", "0")'" value="申请报销"/></div></li>
        <li class="ui-border-r"><div><input class="ui-btn" type="button" onclick="location='$lopStMemberAplicationStatusLink'" value="我的报销"/></div></li>
        <li class="ui-border-r"><div><input class="ui-btn" type="button" onclick="location='$userModule.setTarget("account").addQueryData("userType", "member")'" value="我的信息"/></div></li>
    </ul>
</footer>
