#macro (requisitionMessage $field)
#if (!$field.valid) $field.message #end
#end

<header class="ui-header ui-header-positive ui-border-b">
    <h1>Hello Loppers！</h1>    
	<input type="button" class="ui-btn" onclick="location='$petstoreLoginLink'" value="退出"/>
</header>

<section class="ui-container">

    <section>
        <div class="demo-item">
                <div class="demo-block">
                    <div class="ui-form ui-border-t">
                        <form action="#" method="post" onsubmit="return validate()">

                            $csrfToken.hiddenField
                            <input type="hidden" name="action" value="RequisitionAction"/>

                            #set ($group = $form.requisition.defaultInstance)
                            $group.mapTo($order)


                        	<div class="ui-form-item ui-border-b">
		                        <label>日期：</label>		 
		                        #if (0)                       
		                        <div class="ui-select">
		                            <select id="dateSelect" name="lopDateTime" onchange="getindex();">
		                            #if (1 == $dateSelected)	
		                            	<option>未选择</option>
		                                <option selected="2016-09-01" value="2016-09-01">2016-9-1</option>
		                                <option value="2016-09-02">2016-9-2</option>
		                                <option value="2016-09-03">2016-9-3</option>
		                                <option value="2016-09-03">2016-9-4</option>
		                            #elseif (2 == $dateSelected)	
		                            	<option>未选择</option>
		                                <option value="2016-09-01">2016-9-1</option>
		                                <option selected="2016-09-02" value="2016-09-02">2016-9-2</option>
		                                <option value="2016-09-03">2016-9-3</option>
		                                <option value="2016-09-03">2016-9-4</option>
		                            #elseif (3 == $dateSelected)
		                            	<option>未选择</option>
		                                <option value="2016-09-01">2016-9-1</option>
		                                <option value="2016-09-02">2016-9-2</option>
		                                <option selected="2016-09-03" value="2016-09-03">2016-9-3</option>
		                                <option value="2016-09-03">2016-9-4</option>
		                            #elseif (4 == $dateSelected)
		                            	<option>未选择</option>
		                                <option value="2016-09-01">2016-9-1</option>
		                                <option value="2016-09-02">2016-9-2</option>
		                                <option value="2016-09-03">2016-9-3</option>
		                                <option selected="2016-09-03" value="2016-09-03">2016-9-4</option>		                            	
		                            #else                     
		                            	<option selected="">未选择</option>
		                                <option value="2016-09-01">2016-9-1</option>
		                                <option value="2016-09-02">2016-9-2</option>
		                                <option value="2016-09-03">2016-9-3</option>
		                                <option value="2016-09-03">2016-9-4</option>
		                            #end
		                                <input type="hidden" name="$group.orderDate.key" value="$!group.orderDate.value"/>
		                            </select>		                            
		                        </div>
		                        #else
		                        <div class="ui-select">
		                            <select id="dateSelect" name="lopDateTime">
		                            #if (1 == $dateSelected)	
		                            	<option value="">未选择</option>
		                                <option selected="selected" value="2016-09-01">2016-9-1</option>
		                                <option value="2016-09-02">2016-9-2</option>
		                                <option value="2016-09-03">2016-9-3</option>
		                                <option value="2016-09-03">2016-9-4</option>
		                            #elseif (2 == $dateSelected)	
		                            	<option value="">未选择</option>
		                                <option value="2016-09-01">2016-9-1</option>
		                                <option selected="selected" value="2016-09-02">2016-9-2</option>
		                                <option value="2016-09-03">2016-9-3</option>
		                                <option value="2016-09-03">2016-9-4</option>
		                            #elseif (3 == $dateSelected)
		                            	<option value="">未选择</option>
		                                <option value="2016-09-01">2016-9-1</option>
		                                <option value="2016-09-02">2016-9-2</option>
		                                <option selected="selected" value="2016-09-03">2016-9-3</option>
		                                <option value="2016-09-03">2016-9-4</option>
		                            #elseif (4 == $dateSelected)
		                            	<option value="">未选择</option>
		                                <option value="2016-09-01">2016-9-1</option>
		                                <option value="2016-09-02">2016-9-2</option>
		                                <option value="2016-09-03">2016-9-3</option>
		                                <option selected="selected" value="2016-09-03">2016-9-4</option>		                            	
		                            #else                     
		                            	<option value="" selected="selected">未选择</option>
		                                <option value="2016-09-01">2016-9-1</option>
		                                <option value="2016-09-02">2016-9-2</option>
		                                <option value="2016-09-03">2016-9-3</option>
		                                <option value="2016-09-03">2016-9-4</option>	
		                            #end	                                
		                            </select>		                            
		                            <input type="hidden" name="$group.orderDate.key" value="$!group.orderDate.value"/>		                            
		                        </div>
		                        #end
		                    </div>
                            <div class="ui-form-item ui-border-b">
                                <label>早餐：</label>
                                <input id="breakfastInput" type="text" placeholder="¥ 0.00（元）" name="$group.breakfast.key" value="$!group.breakfast.value"/>
                            </div>
                            <div class="ui-form-item ui-border-b">
                                <label>
                                    午餐：
                                </label>
                                <input id="lunchInput" type="text" placeholder="¥ 0.00（元）" name="$group.lunch.key" value="$!group.lunch.value"/>
                            </div>
                            <div class="ui-form-item ui-border-b">
                                <label>
                                    晚餐：
                                </label>
                                <input id="dinnerInput" type="text" placeholder="¥ 0.00（元）" name="$group.dinner.key" value="$!group.dinner.value"/>
                            </div>
                            <div class="ui-form-item ui-border-b">
                                <label>
                                    饮料：
                                </label>
                                <input id="drinkInput" type="text" placeholder="¥ 0.00（元）" name="$group.drink.key" value="$!group.drink.value"/>
                            </div>
                            <div class="ui-form-item ui-border-b">
                                <label>
                                    交通：
                                </label>
                                <input id="carfareInput" type="text" placeholder="¥ 0.00（元）" name="$group.carfare.key" value="$!group.carfare.value"/>
                            </div>
                            <div class="ui-form-item ui-border-b">
                                <label>
                                    其他：
                                </label>
                                <input id="otherInput" type="text" placeholder="¥ 0.00（元）" name="$group.other.key" value="$!group.other.value"/>
                            </div>
                            <div class="ui-form-item ui-form-item-textarea ui-border-b">
                                <label>
                                    备注：
                                </label>
                                <textarea id="commentArea" name="$group.commonts.key">$!group.commonts.value</textarea>
                            </div>
                            <div class="ui-tips ui-tips-info errorMessage" style="color: red;">
                                #requisitionMessage ($group.orderDate)
                                #requisitionMessage ($group.breakfast)
                                #requisitionMessage ($group.lunch)
                                #requisitionMessage ($group.dinner)
                                #requisitionMessage ($group.drink)
                                #requisitionMessage ($group.carfare)
                                #requisitionMessage ($group.other)
                                #requisitionMessage ($group.commonts)
                                #if (1 == $dateError)
                                必须选择日期
                                #end
                            </div>
                            <input type="submit" name="event_submit_do_addorder" class="ui-btn-lg ui-btn-primary apply-submit" style="margin-top: 12px;" value="提交今日报销"/>
                       		<div class="ui-form-item ui-form-item-textarea ui-border-b">
                                <label>                                 
                                </label>                             
                            </div>                           
                        </form>
                    </div>
                 </div>
        </div>
    </section>
</section>
<footer class="ui-footer ui-footer-btn">
    <ul class="ui-tiled ui-border-t">
        <li class="ui-border-r"><div class="ui-reddot"><input class="ui-btn" type="button" onclick="location='$lopStMemberModule.setTarget("requisition").addQueryData("orderId", "0")'" value="申请报销"/></div></li>
        <li class="ui-border-r"><div><input class="ui-btn" type="button" onclick="location='$lopStMemberAplicationStatusLink'" value="我的报销"/></div></li>
        <li class="ui-border-r"><div><input class="ui-btn" type="button" onclick="location='$userModule.setTarget("account").addQueryData("userType", "member")'" value="我的信息"/></div></li>
    </ul>
</footer>

<script src="/petstore/static/js/form.js"></script>

