#macro (leaderCheckMessage $field)
    #if (!$field.valid) $field.message #end
#end

#if (0)

#else
<header class="ui-header ui-header-positive ui-border-b">
    <h1 style="line-height:3px">财务审核</h1>    
    #if (0)
    <button class="ui-btn">退出</button>
	#else
	<input type="button" class="ui-btn" onclick="location='$petstoreLoginLink'" value="退出"/>
	#end
</header>

<section class="ui-container">
    <section>
        <div class="demo-item">
            <div class="demo-block">
                <div class="ui-form ui-border-t">
                    <form action="" method="post">      
                    	$csrfToken.hiddenField
					    <input type="hidden" name="action" value="financehomeAction"/>
					  
					    #set ($group = $form.leader.defaultInstance)
					    $group.mapTo($leader)  
					    <input type="hidden" name="$group.orderId.key" value="$!group.orderId.value"/>  
					    <input type="hidden" name="$group.leaderName.key" value="$!group.leaderName.value"/> 
						                  	
						<div class="content" style="padding-top:0px;">
				            <table class="table table-bordered table-hover table-item" align="center">
				                <thead>
				                <tr>
								  <td colspan="2"><font size="3">名字：</font></td> 
								  <td colspan="3">
							         <input type="text" class="form-control col-sm-8" name="$group.name.key" placeholder="请输入全名，如：宋宜涛" value="$!group.name.value"/>
							      </td>         
								  <td colspan="1">		  	 
								     <input type="submit" class="ui-btn" value="查询" name="event_submit_do_checkorder" />
								  </td> 		    
								</tr>     
				                <tr>
				                	<th>编号</th>
							        <th>姓名</th>
							        <th>手机号码</th>
							        <th>合计</th>
							        <th>备注</th>
							        <th>状态</th>				                    
				                </tr>
				                </thead>
				                <tbody>
				                #if ($orders.empty)
									<tr>
										<td colspan="10">没有组长$leader.leaderName的申请</td>
									</tr>
								#else	
									#foreach($order in $orders)	
							        <tr>
							          <td>$order.num</td>
							          <td class="subcategoryName">
									  	<a href="$lopStFinanceModule.setTarget("groupdetail").addQueryData("orderId", $order.orderId)" title="$order.leaderName">$order.leaderName</a>
									  </td>	   	          
							          <td>$order.phone</td>
							          <td>$order.totalprice</td>
							          <td>$order.commonts1</td>
							          <td>$order.status</td>	          
							        </tr> 
							        #end 
							        <tr>
							          <td></td>
							          <td></td>	   	          
							          <td></td>
							          <td></td>
							          <td></td>
							          <td></td>	          
							        </tr> 
							        <tr>
							          <td></td>
							          <td></td>	   	          
							          <td></td>
							          <td></td>
							          <td></td>
							          <td></td>	          
							        </tr> 
						        #end                  						        
				                </tbody>
				            </table>
				        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </section>
</section><!-- /.ui-container-->
<footer class="ui-footer ui-footer-btn">
    <ul class="ui-tiled ui-border-t"> 
        <li class="ui-border-r"><div class="ui-reddot"><input class="ui-btn" type="button" onclick="location='$lopStFinanceLink'" value="审批报销"/></div></li>
        <li ><div><input class="ui-btn" type="button" onclick="location='$lopStFinanceModule.setTarget("financialanalysis")'" value="财务分析"/></div></li> 
        <li ><div><input class="ui-btn" type="button" onclick="location='$userModule.setTarget("account").addQueryData("userType", "finance")'" value="我的信息"/></div></li>      
    </ul>
</footer>
#end